
data/Twitter/jigsaw-unintended-bias-in-toxicity-classification/identity_individual_annotations.csv
data/Twitter/jigsaw-unintended-bias-in-toxicity-classification/all_data.csv
data/Twitter/jigsaw-unintended-bias-in-toxicity-classification/toxicity_individual_annotations.csv
data/Twitter/jigsaw-unintended-bias-in-toxicity-classification/train.csv
.DS_Store
.DS_Store
data/.DS_Store
data/Twitter/.DS_Store
.ipynb_checkpoints/clean_data-checkpoint.ipynb
.ipynb_checkpoints/clean_data-checkpoint.ipynb
.ipynb_checkpoints/clean_data-checkpoint.ipynb
.ipynb_checkpoints/clean_data-checkpoint.ipynb
.ipynb_checkpoints/cleaning_scratchwork-checkpoint.ipynb
.ipynb_checkpoints/XGBoost-checkpoint.ipynb
.ipynb_checkpoints/clean_data-checkpoint.ipynb
data/Twitter/.DS_Store
.ipynb_checkpoints/clean_data-checkpoint.ipynb
.ipynb_checkpoints/TFIDF_XGBoost_SVC_LR_GB_RF-checkpoint.ipynb
data/Twitter/.DS_Store
.ipynb_checkpoints/clean_data-checkpoint.ipynb
